body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
}

img {
  display: block;
  width: 715px;
  height: auto;
}

.slider {
  display: flex;
  width: 1226px;
  overflow: hidden;
  background-color: burlywood;
  height: 450px;
  margin: auto;
}

.slide {
  flex: 1;
  opacity: 0.5;
  max-width: 50%;
  overflow: hidden;
  transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
}

.slide.active {
  flex: 1 0 50%;
  opacity: 1;
  max-width: 50%;
}
