body {
    background: #333;
    padding: 2rem;
}

.motion-container {
    position: relative;
}

.svg-path {
    stroke: gray;
    stroke-width: 4;
    fill: none;
    background-color: rgb(202, 93, 93);
    position: absolute;
    left: 0;
    top: 0;
}

.box {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    offset-path: path('m400,387c-80.66298,0 -146,-38.9337 -146,-87c0,-48.0663 65.33702,-87 146,-87c80.66298,0 146,38.9337 146,87c0,48.0663 -65.33702,87 -146,87z');
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    offset-rotate: 0deg;
}

.motion-pause{
    animation-play-state: paused;
}

.box-1 {background: hotpink;}
.box-2 {background: rgb(255, 203, 105);}
.box-3 {background: rgb(160, 255, 105);}
.box-4 {background: rgb(105, 255, 248);}
.box-5 {background: rgb(105, 120, 255);}
.box-6 {background: rgb(243, 73, 73);}


/* animating object on path */
.motion-move-1 {
    animation-name: move1;
}

.motion-move-2 {
    animation-name: move2;
}

.motion-move-3 {
    animation-name: move3;
}

.motion-move-4 {
    animation-name: move4;
}

.motion-move-5 {
    animation-name: move5;
}

.motion-move-6 {
    animation-name: move6;
}

@keyframes move1 {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 10%;
    }
}

@keyframes move2 {
    0% {
        offset-distance: 10%;
    }

    100% {
        offset-distance: 20%;
    }
}

@keyframes move3 {
    0% {
        offset-distance: 20%;
    }

    100% {
        offset-distance: 30%;
    }
}

@keyframes move4 {
    0% {
        offset-distance: 30%;
    }

    100% {
        offset-distance: 40%;
    }
}

@keyframes move5 {
    0% {
        offset-distance: 40%;
    }

    100% {
        offset-distance: 50%;
    }
}

@keyframes move6 {
    0% {
        offset-distance: 50%;
    }

    100% {
        offset-distance: 60%;
    }
}

.btn{
    position: absolute;
}